<div class="wrapper">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-6 mt-5 title text-center">
        URL Shortener
      </div>
    </div>
    <div class="row mt-3 justify-content-center align-self-center">
      <img src="/images/link.png" alt="link-img" width="13%">
    </div>
    <div class="row mt-5 justify-content-center">
      <div class="col-8">
        <form action="/shortcut" method="post" style="text-align: center;">
          <input type="text" name="inputUrl" placeholder="Input URL here" class="form-control" style="height: 45px;">
          <button type="submit" class="btn btn-lg btn-outline-primary mt-3">Shorten</button>
        </form>
      </div>
    </div>


  </div>
</div>