.wrapper {
  background-color: rgb(40, 56, 74);
  height: 500px;
  width: 100%;
}

.page-title {
  color: antiquewhite;
  font-size: 3.5em;
  font-weight: bolder;
}

.btn:hover {
  background-color: rgb(34, 129, 194);
}

.short-url, .info-text, .copy {
  font-size: 1.3em;
}

.info-row{
   background-color: white; 
   border:darkgrey"
}

.page-title:link, .page-title:visited {
  color: antiquewhite;
  text-decoration: none;
  cursor: pointer;
}
