.wrapper {
  background-color: rgb(40, 56, 74);
  height: 500px;
  width: 100%;
}

.title {
  color: antiquewhite;
  font-size: 3.5em;
  font-weight: bolder;
}

.btn:hover {
  background-color: rgb(34, 129, 194);
}